<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
  <a class="navbar-brand" routerLink="/">Movies blog</a>
  <div class="collapse navbar-collapse">
    <!-- Filtro categorías -->
    <select
      class="form-select me-3 ms-auto"
      [(ngModel)]="selectedCategory"
      (change)="onCategoryChange()"
      style="max-width: 200px"
    >
      <option value="all">Todas</option>
      <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
    </select>

    <!-- Buscador -->
    <form class="d-flex" (submit)="onSearch(); $event.preventDefault()">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Buscar..."
        [(ngModel)]="searchTerm"
        name="searchTerm"
      />
      <button class="btn btn-outline-light" type="submit">Buscar</button>
    </form>
  </div>
</nav>
